<!--
<div id="scroller" style="height:100%; width:100%; position:fixed; top:0; left:0;" x-mojo-element="Scroller">

<div id="pullToRefresh" style="width:100%; height:3em; margin-top:-3em;">
   <img id="refreshArrow" src="images/arrow.png"/ style="float:left;">

   <div id="refreshMsg" style="float:left;">
      <span id="refreshText" style="font-size:x-large;">Pull down to refresh...</span><br/>
      <span id="refreshTime" style="font-size:small;">
         Not refreshed yet...
      </span>
   </div>
</div>

<!-- scene content goes here - ->
<div id="first-container" style="width:100%; min-height:480px;">0</div>
-->

<div id="scroller" style="height:100%; width:100%; position:fixed; top:0; left:0;" x-mojo-element="Scroller">

<div id="pullToRefresh" class="invis">
   <img id="refreshArrow" src="images/arrow.png"/>

   <div id="refreshMsg">
      <span id="refreshText">Pull down to refresh...</span><br/>
      <span id="refreshTime">
         Not refreshed yet...
      </span>
   </div>
</div>

<!-- scene content goes here -->
<div id="first-container" style="width:100%; min-height:480px;">Refreshes: 0</div>
